services:
  - type: web
    name: telegram-movie-bot
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
      - key: RENDER
        value: true
      - key: BOT_TOKEN
        sync: false
      - key: TMDB_API_KEY
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: CHANNEL_ID
        sync: false
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: PORT
        value: 10000
